<div class="lst-menu-button">
	<div class="lst-menu-button__button" ng-click="openMenu()">
		<div class="lst-bar"></div>
		<div class="lst-bar"></div>
		<div class="lst-bar"></div>
	</div>

	<div class="lst-menu-button__overlay">
		<span class="lst-menu-button__close" ng-click="closeMenu()">X</span>
		<ul id="menu-items" class="lst-items">
			<li class="lst-item" ng-repeat="option in options" ng-click="closeMenu()">
				<a ng-if="option.url" href="{{option.url}}" ng-bind="option.label"></a>
				<a ng-if="option.callback" ng-bind="option.label" ng-click="option.callback()"></a>
			</li>
		</ul>
	</div>
</div>
