<div id="slide" class="lst-main-image" ng-controller="HeaderController as controller">
	<div class="lst-slide-button -previous" ng-click="controller.previousImage()"> < </div>
	<div class="lst-slide-button -next" ng-click="controller.nextImage()"> > </div>

	<header id="top-menu" class="lst-top-menu">
		<div class="lst-content-container">
			<img class="lst-logo" src="./dist/images/amanda-lima-logo.png" />
			<ul class="lst-items">
				<li class="lst-item" ng-repeat="option in options">
					<a ng-if="option.url" lst-scroll scroll-to="{{option.url}}" ng-bind="option.label"></a>
					<a ng-if="option.callback" ng-bind="option.label" ng-click="option.callback()"></a>
				</li>
			</ul>
			<lst-menu-button options="options"></lst-menu-button>
		</div>
	</header>

	<section class="lst-slide-section">
		<div class="lst-content-container">
			<h2 class="lst-message">
				<span>TRANSFORMANDO</span> <br/>
				<span class="lst-featured-larger">SONHOS</span> <span class="lst-featured-em">&nbsp;&nbsp;EM</span><br/>
				<span class="lst-featured-smaller">RESULTADOS</span><br/>
				<span class="lst-featured-spacing">ALCANÇÁVEIS!</span>
			</h2>
		</div>

		<div class="lst-call-action">
			<div class="lst-button" lst-scroll scroll-to="#planos">COMEÇAR</div>
		</div>
	</section>
</div>

<section id="treine-comigo" class="lst-biography-section">
	<div class="lst-content-container lst-picture-desktop">
		<div class="lst-content">
			<div id="mobile-version">
				<div class="lst-picture"></div>
				<p class="lst-biography-text">
					Graduada em Educação Física Bacharelado pelo Centro Universitário
					Izabela Hendrix, nascida em Belo Horizonte MG, buscou explorar novos
					lugares para exercer a profissão e agora tem residência atual em Vila
					Velha ES, e trabalha como Personal Trainer e Consultora Fitness.
				</p>
			</div>

			<h2 class="lst-title">TREINE COMIGO</h2>

			<p>
				Não existe prática sem teoria e vice versa, o que fazer muitos sabem, mas como fazer é o ‘’Q’’ da questão.
				E é isso que eu faço, primeiro te mostro o porque fiz daquela maneira, como eu fiz, o que fato eu fiz e te
				entrego um planejamento capaz de gerar os resultados que você deseja.
			</p>

			<p>
				Seu sucesso é o meu sucesso, eu amo o que eu faço e meu objetivo e ajuda-lo à chegar ao seu, diferente de todos
				os treinos que você já fez, vai desde a manipulação das variáveis da musculação até a utilização do tempo ao seu favor,
				são treinos econômicos, com 30, 35 minutos, inteligentes e capazes de gerar o resultado que você deseja.
				Eu quero você no meu time, se permita e vem fazer parte!
			</p>
			<br/>
			<p>
				Amanda Lima
			</p>
		</div>
		<div id="desktop-version" class="lst-content">
			<div class="lst-picture"></div>
			<p class="lst-biography-text">
				Graduada em Educação Física Bacharelado pelo Centro Universitário
				Izabela Hendrix, nascida em Belo Horizonte MG, buscou explorar novos
				lugares para exercer a profissão e agora tem residência atual em Vila
				Velha ES, e trabalha como Personal Trainer e Consultora Fitness.
			</p>

			<h2 class="lst-message">
				<span>CONFIRA OS</span><br/>
				<span class="lst-featured-larger">PLANOS</span> <span class="lst-featured">&nbsp;QUE</span><br/>
				<span class="lst-featured">TENHO</span><br/>
				<span class="lst-featured">PARA VOCÊ!</span>
			</h2>
			<div class="lst-info-box" lst-scroll scroll-to="#planos">PLANOS</div>
		</div>
	</div>
</section>

<section id="consultoria" class="lst-consulting-section-web">
	<div class="lst-content-container">
		<div class="lst-large-column lst-left-column">
			<div class="lst-content-box">
				<p class="lst-featured-text"> 3 PASSOS</p>
				<p>PARA A</p>
				<p>CONSULTORIA</p>
			</div>
		</div>

		<div class="lst-small-column">

			<p class="lst-content-1">1</p>
			<p class="lst-content-2">2</p>
			<p class="lst-content-3">3</p>

		</div>

		<div class="lst-large-column lst-right-column">
			<div class="lst-content">
				<h3 class="lst-title">ESCOLHA SEU PLANO</h3>
				<p>
					Passo: Escolha do plano que melhor te atende, o plano Mensal você recebe 1 prescrição,
					nos planos trimestral, semestral e fidelidade você recebe 1 prescrição à cada 30 dias.
				</p>
			</div>

			<div class="lst-content">
				<h3 class="lst-title">PREENCHA O QUESTIONÁRIO</h3>
				<p>
					Preencha o Questionário: após você adquirir um dos planos você receberá por e-mail meu primeiro
					contato com acesso ao questionário, que através dele eu conhecerei você, suas particularidades,
					objetivos, etc... Só a partir dele consigo elaborar o melhor treinamento para você.
				</p>
			</div>

			<div class="lst-content">
				<h3 class="lst-title">RECEBA SEU TREINO</h3>
				<p>
					Recebimento do treino: após a análise do questionário, eu elaboro seu treino, o mesmo você recebe
					uma cópia por e-mail e primeiras orientações pelo WhatsApp, e a partir daí nosso contato será frequente.
				</p>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="lst-consulting-section-mobile">
		<div class="lst-content-container">
			<div class="lst-content-box">
					<p class="lst-featured-text"> 3 PASSOS</p>
					<p>PARA A</p>
					<p>CONSULTORIA</p>
			</div>
			<div class="lst-info-box" id="lst-info-box">
				<div class="lst-small-column" id="lst-small-column">
					<div class="lst-orange-column" id="lst-orange-column">
						<p class="lst-content-1">1</p>
						<p class="lst-content-2">2</p>
						<p class="lst-content-3">3</p>
					</div>
				</div>
				<div class="lst-large-column">
					<div class="lst-content">
						<h3 class="lst-title">ESCOLHA SEU PLANO</h3>
						<p>
							Passo: Escolha do plano que melhor te atende, o plano Mensal você recebe 1 prescrição,
							nos planos trimestral, semestral e fidelidade você recebe 1 prescrição à cada 30 dias.
						</p>
					</div>
			
					<div class="lst-content">
						<h3 class="lst-title">PREENCHA O QUESTIONÁRIO</h3>
						<p>
							Preencha o Questionário: após você adquirir um dos planos você receberá por e-mail meu primeiro
							contato com acesso ao questionário, que através dele eu conhecerei você, suas particularidades,
							objetivos, etc... Só a partir dele consigo elaborar o melhor treinamento para você.
						</p>
					</div>
			
					<div class="lst-content">
						<h3 class="lst-title">RECEBA SEU TREINO</h3>
						<p>
								Recebimento do treino: após a análise do questionário, eu elaboro seu treino, o mesmo você recebe
							uma cópia por e-mail e primeiras orientações pelo WhatsApp, e a partir daí nosso contato será frequente.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="planos" class="lst-prices-section" lst-height-equalizer>
	<h2 class="lst-title-gray">PLANOS</h2>
	<div class="lst-content-container">
		<lst-price-box
			title="PLANO MENSAL"
			price="100,00"
			code="C14418BA6B6B98633404AFA759BB2E4F">
			Treinamento com validade de 1 mês e elaborado sob suas necessidades e objetivos.
			Suporte de dúvidas via WhatsApp e E-mail, acompanha todo material de orientação, como:
			método utilizado, estímulo, vídeo de execuções personalizados dos exercícios, e claro o porque,
			como foi feito e o que de fato eu fiz.
		</lst-price-box>

		<lst-price-box
			title="PLANO TRIMESTRAL"
			price="255,00"
			code="94F4DC744848738DD4378F9D2D4EBABA">
			Treinamento com 3 treinos, cada mês é elaborado um novo onde teremos uma periodização.
			Suporte de dúvidas via WhatsApp e E-mail, acompanha todo material de orientação, como: método utilizado,
			estímulo, vídeo de execuções personalizados dos exercícios, e claro o porque, como foi feito e o que de fato eu fiz.
		</lst-price-box>

		<lst-price-box
			title="PLANO SEMESTRAL"
			price="510,00"
			code="CE8590C0FDFD39C0043F4F93D7CB4251">
			Treinamento com validade de 6 meses e elaborado sob suas necessidades e objetivos.
			Suporte de dúvidas via WhatsApp e E-mail, acompanha todo material de orientação, como:
			método utilizado, estímulo, vídeo de execuções personalizados dos exercícios, e claro o porque,
			como foi feito e o que de fato eu fiz.
		</lst-price-box>

		<lst-price-box
			featured="yes"
			title="FIDELIDADE"
			price="1000,00"
			code="48284AA622223A5AA4057FB06859FEF2">

			Plano Destinado àquele que entregarão 12 meses de prescrição em minhas mãos. Serão 1 ano de acompanhamento comigo,
	 		onde deixará de ser somente meses “experimentais” e passará ser fidelidade com todo suporte pelo WhatsApp e E-mail,
	  		acompanha todo material de orientação, como: método utilizado, estímulo, vídeos personalizados de execuções,
	   		e você ainda poderá presentear um amigo com um mês grátis comigo.
		</lst-price-box>

	</div>
</section>

<!--<section id="duvidas" class="lst-faq-section">
	<div class="lst-content-container">
		<h3 class="lst-title-white">DÚVIDAS FREQUENTES</h3>

		<lst-accordion-item title="Alongamento, antes ou depois?">
			<p>
				Eu recomendo que seja depois da seção de musculação e em membros diferentes
				daquele que se treinou naquele dia.
			</p>
		</lst-accordion-item>

		<lst-accordion-item title="Como ajustar minha carga de treino?">
			<p>
				Seu treino contém margens de repetições estabelecidas onde você ajustará uma carga
				que te permite treinar, falhar dentro dessas margens de repetições, ajuste para que
				fique dentro dessa margem. Anote sempre suas cargas para que no próximo treina já
				saiba qual carga realizar e também fazer uma progressão da mesma
			</p>
		</lst-accordion-item>

		<lst-accordion-item title="Como aquecer antes de iniciar a musculação?">
			<p>
				Não é necessário aquele aquecimento de 10/15 minutos na esteira, bike e etc... Faça
				um aquecimento específico, pegue uma carga leve e realize de 12 a 15 repetições
				sempre no primeiro exercício de cada treino.
			</p>
		</lst-accordion-item>

		<lst-accordion-item title="O que é cadência e como funciona?">
			<p>
				Cadência nada mais é do que a velocidade de execução do exercício, é o tempo que
				você gasta para fazer uma repetição, ou seja se eu determinei sua cadência 4020 no
				Pulley Frente significa que você deve puxar com 2 segundos, não perder tempo
				embaixo, subir com 4 segundos e novamente não perder tempo na transição para
				descer novamente. (é uma grande variável de intensidade, portanto faça correto).
			</p>
		</lst-accordion-item>

		<lst-accordion-item title="Depois que meu pagamento for confirmado em quanto tempo recebo meu treino e
		demais orientações?">
			<p>
				Após seu pagamento ser confirmado você receberá o treino e as primeiras orientações
				em até 3 dias úteis.
			</p>
		</lst-accordion-item>

		<lst-accordion-item title='Meu plano venceu e quero continuar treinando com você o que devo fazer?'>
			<p>
				É simples, é somente ir até o site e adquirir novamente o plano que te atente e vamos
				dar continuidade.
			</p>
		</lst-accordion-item>

	</div>
</section> -->

<section class="lst-social-section" ng-controller="SocialController">
	<div class="lst-content-container">
		<div class="lst-social-column lst-follow-instagram">
			<h4 class="lst-title">SIGA NO <b></br>
			<i>INSTAGRAM</i></b></h4>
			<lst-insta-thumbs></lst-insta-thumbs>
			<div class="lst-stripe-horizontal"></div>
		</div>

		<div class="lst-social-column">
			<div class="lst-stripe-vertical"></div>
		</div>

		<div id="fale-conosco" class="lst-social-column lst-contact-us">
			<h4 class="lst-title"><b><i>FALE CONOSCO</b></i></h4>
			<input type="text" class="lst-input-name" placeholder="SEU NOME"/>
			<input type="email" class="lst-input-email" placeholder="SEU E-MAIL"/>
			<input type="text" class="lst-input-msg" placeholder="SUA MENSAGEM..."/>

			<a ng-show="!alreadySent" class="lst-send" ng-class="{'-positive': mailSuccess}" ng-click="sendEmail()" ng-bind="sendText"></a>
		</div>
	</div>
</section>

<section class="lst-footer-section">
	<div class="lst-content-footer">
		<h5 class="lst-title-footer">TODOS OS DIREITOS RESERVADOS - 2017</h5>
		<a class="lst-logo" href="http://www.igortrindade.com.br" target="_blank">
			<img src="dist/images/igor-trindade-logo.png" />
		</a>
		</div>
	</div>
</section>
